@import './fonts_link';
@import './designer_content';
@import './header_hidden_menu';
@import './sound_control';
@import './index_animation_out';
@import './index_animation_in';

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    // @media (min-width: 2584px) {
    //     max-width: 2444px;
    // }
    @media (min-width: 1920px) {
        max-width: 1728px;
    }
    @media (max-width: 1465px) {
        padding: 0 40px 0 40px;
    }
}

body {
    position: relative;
}

.fullscreen-back_main {
    background: rgba(255, 255, 255, 0.5); 
}

.fullscreen-back_characters {
    backdrop-filter: blur(10px);
    background: rgba(239, 239, 239, 0.8);
}

.fullscreen-back {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    // background: rgba(255, 255, 255, 0.5); 
    .video-back {
        z-index: -10;
        position: absolute;
        top: 0;
        // left: calc(50% - 2048px / 2);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

header {
    padding-top: 33px;
    margin-bottom: 33px;
    // display: none; 
    display: flex;                                 // УПРАВЛЕНИЕ header
    justify-content: space-between;
    // @media (min-width: 2584px) {
    //     padding-top: 56px;
    //     margin-bottom: 51px;
    // }
    @media (min-width: 1710px) {
        padding-top: 42px;
    }
    @media (max-width: 1024px) {
        padding-top: 24px;
        margin-bottom: 16px;
    }
    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 258px;
        // @media (min-width: 2584px) {
        //     width: auto;
        // }
        @media (max-width: 1024px) {
            height: 46px;
        }
        .header_content_logo {
            display: block;
            cursor: pointer;
            // @media (min-width: 2584px) {
            //     & img {
            //         height: 87px;
            //         width: 87px;
            //     }
            // }
            @media (max-width: 1024px) {
                font-size: 21px;
                & img {
                    height: 46px;
                    width: 46px;
                }
            }
        }
        .header_right-show-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            height: 14px;
            // @media (min-width: 2584px) {
            //     height: 28px;
            //     margin-left: 161px;
            // }
            .right-show-menu_line-top {
                transition: 0.3s all linear;
                background-color: #454545;
                height: 2.5px;
                width: 46px;
                // @media (min-width: 2584px) {
                //     height: 4.5px;
                //     width: 83px;
                // }
            }
            .right-show-menu_line-bottom {
                transition: 0.3s all linear;
                background-color: #454545;
                height: 2.3px;
                width: 46px;
                // @media (min-width: 2584px) {
                //     height: 4.5px;
                //     width: 83px;
                // }
            }
            &:hover {
                .right-show-menu_line-top {
                    transform: translate(0,-2px);
                }
                .right-show-menu_line-bottom {
                    transform: translate(0,2px);
                }
            }
        }
        & p {
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 12px;
            line-height: 17px;
            color: #454545;
            // @media (min-width: 2584px) {
            //     font-size: 21px;
            //     margin-left: 161px;
            // }
            @media (min-width: 1710px) {
                font-size: 14px;
            }
        }
        .header_phone {
            display: block;
            text-decoration: none;
            color: #454545;
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 12px;
            line-height: 17px;
            cursor: pointer;
            // @media (min-width: 2584px) {
            //     font-size: 21px;
            //     width: auto;
            // }
        }
    }
}

.top-menu {
    margin: 0 auto;
    width: 1100px;
    // display: none; 
    display: flex;                                      // ОТКЛЮЧЕН nav
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    padding: 18px 0;
    // @media (min-width: 2584px) {
    //     margin-top: 35px;
    //     padding: 40px;
    //     width: 1865px;
    // }
    @media (min-width: 1710px) {
        margin-top: 35px;
        padding: 20px;
        width: 1385px;
    }
    @media (max-width: 1024px) {
        padding: 16px 0;
        width: 944px;
        justify-content: space-between;
        & p:first-child {
            margin-left: 47px;
        }
        & p:last-child {
            margin-right: 47px;
        }
    }
    .top-menu_btns {
        font-family: 'Montserrat';
        text-transform: uppercase;
        color: #454545;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        cursor: pointer;
        // @media (min-width: 2584px) {
        //     font-size: 20px;
        // }
        @media (min-width: 1710px) {
            font-size: 12px;
        }
    }
}

.main {
    margin-top: 90px;
    // display: none;
    display: flex;
    // @media (min-width: 2584px) {
    //     margin-top: 156px;
    // }                                                       // здесь --- ВЕСЬ БЛОК
    @media (min-width: 1710px) {
        margin-top: 93px;
    }
    @media (max-width: 1024px) {
        margin-top: 40px;
        flex-direction: column-reverse;
    }
    .main_content {
        display: flex;
        flex-direction: column;
        width: 400px;
        color: #454545;
        // @media (min-width: 2584px) {
        //     width: 59%;
        // }
        @media (max-width: 1024px) {
            width: 436px;
            margin-left: 31px;
        }
        .main_header-top_wrapper {
            overflow: hidden;
            // @media (min-width: 2584px) {
            //     width: inherit;
            // }
            .main_header-top {
                font-family: 'DrukTextWide';
                font-weight: 500;
                font-size: 70px;
                line-height: 100%;
                // @media (min-width: 2584px) {
                //     font-size: 144px;
                //     width: auto;
                // }
                @media (min-width: 1710px) {
                    font-size: 96px;
                }
                @media (max-width: 1024px) {
                    font-size: 76px;
                }
            }
        }
        .main_header-bottom_wrapper {
            overflow: hidden;
            // @media (min-width: 2584px) {
            //     width: 46%;
            // }
            .main_header-bottom {
                margin-top: 20px;
                font-family: 'DrukTextWide';
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                // @media (min-width: 2584px) {
                //     margin-top: 37px;
                //     font-size: 35px;
                //     width: 679px;
                // }
                @media (min-width: 1710px) {
                    margin-top: 25px;
                    font-size: 24px;
                }
                @media (max-width: 1024px) {
                    margin-top: 16px;
                    width: 305px;
                }
            }
        }
        .main_text-wrapper {
            overflow: hidden;
            // @media (min-width: 2584px) {
            //     width: 45%;
            // }
            .main_text {
                margin-top: 27px;
                width: 357px;
                font-family: 'Montserrat';
                font-size: 12px;
                line-height: 120%;
                font-weight: bold;
                // @media (min-width: 2584px) {
                //     margin-top: 45px;
                //     font-size: 24px;
                //     width: auto;
                // }
                @media (min-width: 1710px) {
                    margin-top: 35px;
                    font-size: 16px;
                }
                @media (max-width: 1024px) {
                    margin-top: 33px;
                    font-weight: 500;
                }
            }
        }
        .main_wells-wrapper {
            overflow: hidden;
            .main_wells {
                margin-top: 21px;
                display: flex;
                align-items: center;
                border-top: 1px solid #BCBCBC;
                border-bottom: 1px solid #BCBCBC;
                width: auto;
                // @media (min-width: 2584px) {
                //     margin-top: 44px;
                //     width: 54%;
                // }
                & :not(:first-child) {
                    margin-left: 24px;
                    @media (max-width: 1024px) {
                        margin-left: 0;
                    }
                }
                @media (min-width: 1710px) {
                    margin-top: 29px;
                }
                @media (max-width: 1024px) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 17px;
                    padding: 8px 0;
                    width: 272px;
                }
                .main_well-types {
                    padding: 13px 0;
                    display: flex;
                    flex-direction: column;
                    // @media (min-width: 2584px) {
                    //     padding: 29px 0;
                    // }
                    @media (min-width: 1710px) {
                        padding: 15px 0;
                    }
                    @media (max-width: 1024px) {
                        padding: 8px 0;
                        flex-direction: row;
                    }
                    & img {
                        width: 32px;
                        height: 32px;
                        // @media (min-width: 2584px) {
                        //     width: 70px;
                        //     height: 70px;
                        // }
                    }
                    & p {
                        margin-top: 9px;
                        margin-left: 0;
                        font-family: 'Montserrat';
                        font-weight: 600;
                        font-size: 8px;
                        line-height: 130%;
                        // @media (min-width: 2584px) {
                        //     margin-top: 22px;
                        //     font-size: 17px;
                        // }
                        @media (min-width: 1710px) {
                            margin-top: 11px;
                            font-size: 14px;
                        }
                        @media (max-width: 1024px) {
                            margin-left: 12px;
                            width: 89px;
                        }
                    }
                }
            }
        }
        .main_well-types_line {
            width: 1px;
            height: 83px;
            background-color: #BCBCBC;
            @media (max-width: 1024px) {
                display: none;
            }
        }
        .main_more-info-wrapper {
            overflow: hidden;
            @media (max-width: 1024px) {
                width: 272px;
            }
            .main_more-info {
                display: flex;
                align-items: center;
                padding: 38px 0 36px 0;
                overflow: hidden;
                // @media (min-width: 2584px) {
                //     padding: 63px 0 63px 0;
                // }
                @media (min-width: 1710px) {
                    padding: 41px 0 39px 0;
                }
                @media (max-width: 1024px) {
                    padding: 33px 0 21px 0;
                    width: 272px;
                }
                .main_more-info_btn {
                    margin-right: 48px;
                    font-family: 'DrukTextWide';
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 15px;
                    color: #FFFFFF;
                    background: #D9793E;
                    padding: 13.5px 25px;
                    cursor: pointer;
                    // @media (min-width: 2584px) {
                    //     font-size: 16px;
                    //     padding: 36.5px 34px;
                    //     width: 218px;
                    //     text-align: center;
                    // }
                    @media (min-width: 1710px) {
                        font-size: 12px;
                        padding: 16.5px 30px;
                    }
                }
                .main_more-info_text {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 120%;
                    color: #454545;
                    width: 188px;
                    // @media (min-width: 2584px) {
                    //     font-size: 20px;
                    //     width: 317px;
                    // }
                    @media (max-width: 1024px) {
                        display: none;
                    }
                }
            }
        }
        .main_line-bottom {
            border-bottom: 1px solid #BCBCBC;
            width: 550px;
            @media (min-width: 1710px) {
                width: 1200px;
            }
        }
    }
    .main_person-images {
        position: absolute;
        width: 54%;
        right: 45px;
        bottom: 0;
        height: 600px;
        @media (min-width: 1710px) {
            height: auto;
        }
        @media (max-width: 1024px) {
            right: -45px;
        }
        .person-images_wrapper {
            display: flex;
            height: inherit;
            position: relative;
            & img {
                position: absolute;
                height: 595px;
                object-fit: cover;
                bottom: 0;
                // @media (min-width: 2584px) {
                //     height: 75vh;
                // }
                @media (min-width: 1710px) {
                    min-height: 750px;
                }
                @media (max-width: 1024px) {
                    max-height: 453px;
                }
            }
            .designer1 {
                z-index: 1;
                right: 403px;
                // @media (min-width: 2584px) {
                //     right: 757px;
                // }
                @media (min-width: 1710px) {
                    right: 502px;
                }
                @media (max-width: 1024px) {
                    right: 382px;
                    min-height: 523px;
                }
            }
            .engineer {
                right: 220px;
                z-index: 0;
                // @media (min-width: 2584px) {
                //     right: 417px;
                // }
                @media (min-width: 1710px) {
                    right: 285px;
                }
                @media (max-width: 1024px) {
                    min-height: 532px;
                }
            }
            .top-manager {
                right: -12px;
                // @media (min-width: 2584px) {
                //     right: -36px;
                // }
                @media (max-width: 1024px) {
                    right: 27px;
                    min-height: 525px;
                }
            }
        }
    }
    .main_mouse-language {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 53px;
        & img {
            margin-bottom: 40px;
            @media (max-width: 1024px) {
                display: none;
            }
        }
        & p {
            font-family: 'DrukTextWide';
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #454545;
            cursor: pointer;
            @media (max-width: 1024px) {
                color: #ffffff;
                margin-right: 50px;
                margin-bottom: -18px;
            }
        }
    }
}



